.mobilewarning {
    display: block;
    text-align: center;
    font-size: 24px;
    background-color: red;
}

.imgkoifish {
    display: none;
}

.emptyrows {
    display: none;
}

.summary {
    text-align: justify;
}

.btn {
    display: none;
}

.anotmobile {
    display: none;
}

.amobile {
    display: inline;
}

.contentzone {
    width: 80%;
}